a {
  cursor: pointer;
}
.form-error {
  color: #ef9a9a;
}
#mainContainer {
  margin-top: 60px;
}

/**
  * Toast
**/
#toast-container {
  top: 74px !important;;
  right: auto !important;
  max-width: 100%;
  left: 5%;
  width: 90%;

  > div {
    width: 100%;
  }
}

.toast {
  border-radius: 6px;

  &.info {
    background-color: #90caf9;
  }
  &.success {
    background-color: #a5d6a7;
  }
  &.warning {
    background-color: #ffcc80;
  }
  &.error {
    background-color: #ef9a9a;
  }
}

.login-form {
  padding: 60px;
}

.row.shallow {
  margin-bottom: unset;
}

.login-container .middle-login {
  width: 430px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -170px;
  margin-left: -215px;
}

/**
  * Transition Group
**/
.fade-enter {
  opacity: 0.1;
  &.fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity 250ms ease-in;
    -moz-transition: opacity 250ms ease-in;
    -ms-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
}

.fade-leave {
  opacity: 1;
  &.fade-leave-active {
    opacity: 0.01;
    -webkit-transition: opacity 250ms ease-in;
    -moz-transition: opacity 250ms ease-in;
    -ms-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
}

/**
  * Portlet
**/
.block-flat > .content {
  max-height: 500px;
  -webkit-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  -ms-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
}

.block-flat.closed > .content {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
}
