.form-error {
  color: #ef9a9a;
}
#mainContainer {
  margin-top: 60px;
}

#toast-container {
  top: 74px !important;;
  right: auto !important;
  max-width: 100%;
  left: 5%;
  width: 90%;

  > div {
    width: 100%;
  }
}

.toast {
  border-radius: 6px;

  &.info {
    background-color: #90caf9;
  }
  &.success {
    background-color: #a5d6a7;
  }
  &.warning {
    background-color: #ffcc80;
  }
  &.error {
    background-color: #ef9a9a;
  }
}